################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UseCase1/.vs/UseCase1/FileContentIndex
/UseCase1/.vs/ProjectEvaluation
/UseCase1/bin/Debug/net7.0/UseCase1.dll
/UseCase1/bin/Debug/net7.0/UseCase1.pdb
/UseCase1/obj/Debug/net7.0/refint/UseCase1.dll
/UseCase1/obj/Debug/net7.0/ref/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.pdb
/UseCase1/.vs/UseCase1/v17/.suo
/UseCase1/.vs/UseCase1/FileContentIndex/9d1f87cd-b8f9-4261-a523-b4a310155565.vsidx
/UseCase1/.vs/UseCase1/FileContentIndex/05d62838-3057-4689-a759-a7c8c0dd1099.vsidx
/UseCase1/.vs/UseCase1/FileContentIndex/83fce5bc-431b-4ca6-b655-949f60a2292c.vsidx
/.vs/ProjectEvaluation/usecase1.metadata.v6.1
/.vs/ProjectEvaluation/usecase1.projects.v6.1
/.vs/UseCase1/FileContentIndex/325d66b5-1543-4b65-b330-10ed3db2f867.vsidx
/.vs/UseCase1/FileContentIndex/50096ce2-0c56-49aa-9b64-43caaba12a5d.vsidx
/.vs/UseCase1/FileContentIndex/read.lock
/.vs/UseCase1/v17/TestStore/0/002.testlog
/.vs/UseCase1/v17/TestStore/0/testlog.manifest
/.vs/UseCase1/v17/.suo
/UseCase1/.vs/UseCase1/FileContentIndex/afd3b5a1-60ca-4f7d-b87f-abd38baa4616.vsidx
/UseCase1/.vs/UseCase1/v17
/UseCase1/bin/Debug/net6.0
/UseCase1/obj/Debug/net6.0/ref
/UseCase1/obj/Debug/net6.0/refint
/UseCase1/obj/Debug/net6.0/staticwebassets
/UseCase1/obj/Debug/net6.0
/UseCase1/obj/Debug/net7.0/UseCase1.csproj.AssemblyReference.cache
/UseCase1/obj/project.assets.json
/UseCase1/obj/UseCase1.csproj.nuget.dgspec.json
/UseCase1/obj/project.nuget.cache
/UseCase1Test/bin/Debug/net6.0
/UseCase1Test/obj/Debug/net6.0
/UseCase1Test/obj
