################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UseCase1/.vs/UseCase1/FileContentIndex
/UseCase1/.vs/ProjectEvaluation
/UseCase1/bin/Debug/net7.0/UseCase1.dll
/UseCase1/bin/Debug/net7.0/UseCase1.pdb
/UseCase1/obj/Debug/net7.0/refint/UseCase1.dll
/UseCase1/obj/Debug/net7.0/ref/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.pdb
