################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UseCase1/.vs/UseCase1/FileContentIndex
/UseCase1/.vs/ProjectEvaluation
/UseCase1/bin/Debug/net7.0/UseCase1.dll
/UseCase1/bin/Debug/net7.0/UseCase1.pdb
/UseCase1/obj/Debug/net7.0/refint/UseCase1.dll
/UseCase1/obj/Debug/net7.0/ref/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.dll
/UseCase1/obj/Debug/net7.0/UseCase1.pdb
/UseCase1/.vs/UseCase1/v17/.suo
/UseCase1/.vs/UseCase1/FileContentIndex/9d1f87cd-b8f9-4261-a523-b4a310155565.vsidx
/UseCase1/.vs/UseCase1/FileContentIndex/05d62838-3057-4689-a759-a7c8c0dd1099.vsidx
/UseCase1/.vs/UseCase1/FileContentIndex/83fce5bc-431b-4ca6-b655-949f60a2292c.vsidx
